# Virtual Environment
venv/

# SQLite database
db.sqlite3

# Environment variables
.env

.DS_Store

# Django static files
staticfiles/

# Media files
media/

# IDE settings
.idea/

# macOS specific files
.DS_Store
